.cards {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.cards .red {
  background: linear-gradient(45deg, #233a51, #827f7f, #434849);
}

.cards .blue {
  background: linear-gradient(45deg, #233a51, #827f7f, #434849);
}

.cards .green {
  background: linear-gradient(45deg, #233a51, #827f7f, #434849);
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 150px;
  width: 300px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}







@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
  
  .cards .card {
    width: calc(33.33% - 20px);
  }
}
